# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html


[settings]
default = ajar.settings

[scrapyd]
http_port=$PORT
# application = scrapyheroku.app.application

[deploy]
url = https://prices-node-10.herokuapp.com/
project = ajar
