# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html


[settings]
default = ajar.settings

[scrapyd]
poll_interval=0.2
max_proc=3
application = scrapy_heroku.app.application


[deploy:default]
url = https://prices-node-10.herokuapp.com/
project = ajar
